In [2]:
import pandas as pd
import json
import requests

In [5]:
response = requests.get('https://www.mibicitubici.gob.ar/v1/stations')
estaciones = json.loads(response.text)['data']['stations']

with open('estaciones.json', 'w') as outfile:
    json.dump(estaciones, outfile)

In [3]:
with open("estaciones.json", "r") as file:
    estaciones = json.load(file)
estaciones[0]

FileNotFoundError: [Errno 2] No such file or directory: 'estaciones.json'

In [7]:
latitudes = [float(estacion['location']['latitude']) for estacion in estaciones]
longitudes = [float(estacion['location']['longitude']) for estacion in estaciones]

In [9]:
df = pd.DataFrame(estaciones)
df.drop('location', axis='columns', inplace=True)
df['latitude'] = latitudes
df['longitude'] = longitudes
df.head()

,id,name,address,station_code,status,last_connection_date,favorite,tandem,anchor,bikes,latitude,longitude
0,1,Museo Castagnino,Oroño 1658,1,active,1632252091,False,0,13,7,-32.954214,-60.655987
1,2,Paseo Pellegrini,Av. Pellegrini 1377,2,active,1632252101,False,0,20,0,-32.956663,-60.644869
2,3,Plaza López,Pellegrini 779,3,active,1632252099,False,1,15,5,-32.958121,-60.636702
3,4,Fac. de Ingeniería,Av. Pellegrini 280,4,active,1632252099,False,1,12,8,-32.959215,-60.629449
4,5,Ciudad Univ. I,Riobamba 239 BIS,5,active,1632252108,False,0,14,7,-32.967366,-60.623572

In [12]:
df.iloc[:2, :].to_csv('../datos/geo/estaciones-test.csv', index=False)
df.iloc[:2, :].to_excel('../datos/geo/estaciones-test.xlsx', index = None, header=True)

# Ciclovías

In [106]:
origin_lat = [float(ciclovia['origin']['latitude']) for ciclovia in ciclovias]
origin_lon = [float(ciclovia['origin']['longitude']) for ciclovia in ciclovias]
destination_lat = [float(ciclovia['destination']['latitude']) for ciclovia in ciclovias]
destination_lon = [float(ciclovia['destination']['longitude']) for ciclovia in ciclovias]
ciclovias_df = pd.DataFrame(ciclovias)

In [107]:
ciclovias_df = pd.DataFrame(ciclovias)
ciclovias_df.drop(['origin', 'destination'], axis='columns', inplace=True)
ciclovias_df['origin_lat'] = origin_lat
ciclovias_df['origin_lon'] = origin_lon
ciclovias_df['destination_lat'] = destination_lat
ciclovias_df['destination_lon'] = destination_lon
ciclovias_df.head()

,id,name,origin_lat,origin_lon,destination_lat,destination_lon
0,2,Bordavere (entre Avellaneda y Salta),-32.933594,-60.677809,-32.933322,-60.670600
1,3,Avellaneda (entre San Lorenzo y Pte. Perón),-32.936786,-60.678624,-32.957553,-60.683857
2,4,Av. Pellegrini (entre Balcarce y Necochea),-32.949930,-60.681846,-32.959731,-60.626918
3,5,Entre Ríos (entre Jujuy y Bv. Seguí),-32.937811,-60.638890,-32.978416,-60.649098
4,6,Corrientes (entre Jujuy y Bv. 27 de Febrero),-32.937534,-60.640281,-32.966694,-60.647604

In [108]:
ciclovias_df.to_csv('datos/ciclovias.csv', index=False)
ciclovias_df.to_excel('datos/ciclovias.xlsx', index = None, header=True)